In [1]:
import pandas as pd
import sys
sys.path.append("G:\Carrera\Ciclo II 2018\Administracion de Base de datos\Proyecto\Trazabilidad de transacciones\src")
from db_oracle import DB

In [2]:
db = DB()

In [3]:
dataframe = pd.DataFrame.from_dict(db.exec_dml('''select * from "USER1"."T1"'''))

In [4]:
dataframe

   A  B  C
0  1  2  3
1  2  3  4
2  3  4  5
3  4  5  6

In [5]:
data = pd.DataFrame.from_dict(db.exec_dml('''select * from logminerFiltered'''))

In [6]:
data

Empty DataFrame
Columns: [DATE_, OPERATION, SQL_, SQL_1, TABLE_NAME, TABLE_OWNER, TABLE_SPACE, TIME_, USERNAME]
Index: []

In [ ]:
data.columns

In [ ]:
%matplotlib inline
data.groupby(['TIME_'])['TIME_'].count().plot(kind="bar", x="TIME_")

In [ ]:
%matplotlib inline
data.groupby(['DATE_'])['DATE_'].count().plot(kind="bar", x="DATE")